:root {
  --white: #fff;
  --baby-blue: #68BBE3;
  --blue-grotto: #0E86D4;
  --blue: #055C9D;
  --navy-blue: #003060;

}

.app {
  .nav {
    .header {
      text-align: center;
      font-size: 1.3rem;
    }

    .nav-items {
      display: flex;
      list-style-type: none;
      padding: 0;

      .nav-item {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: var(--blue-grotto);
        border: none;
        font-size: .9rem;

        &.active {
          background-color: var(--blue);
        }

        .nav-link {
          color: var(--white);
          text-decoration: none;

        }
      }
    }
  }

  .table {
    width: 100%;
    margin: 0 auto;

    .table-header {
      display: flex;
      text-align: center;

      .table-head-item {
        flex: 1;
      }
    }

    .table-body {
      .table-head {
        background-color: var(--blue);
        color: var(--white);
        font-weight: bold;
      }

      .row-items {
        display: flex;

        .row-item {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          word-break: break-all;
          max-width: 130px;
          min-height: 35px;
        }

        &:nth-child(even) {
          background-color: #f2f2f2;
        }
      }
    }
  }

  .page-temp {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2.5%;

    .page-content {
      .date-picker-container {
        display: flex;
        justify-content: space-around;
        // .date-picker-option {
        //   flex: 1 1 auto;
        // }
      }
      .status-text {
        margin-bottom: 10px;
        text-align: center;
      }
    }

    .primary-page-head {
      margin: 20px 0 30px;
      text-align: center;
    }

    .search-bar-container {
      display: flex;
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 30px;
      height: 40px;

      .search-bar {
        flex: 1;
        border: 1px solid var(--blue-grotto);
      }
      .search-button {
        flex-basis: 60px;
        border: none;
        background-color: var(--blue-grotto);
        color: var(--white);
      }
    }
  }

}