:root {
  --white: #fff;
  --baby-blue: #68BBE3;
  --blue-grotto: #0E86D4;
  --blue: #055C9D;
  --navy-blue: #003060;

}

/* body {
  background-color:  var(--baby-blue);
} */
.app {
  .nav {
    .header {
      text-align: center;
    }

    .nav-items {
      display: flex;
      list-style-type: none;
      padding: 0;

      .nav-item {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: var(--blue-grotto);
        border: none;
        font-size: .9rem;

        &.active {
          background-color: var(--blue);
        }

        .nav-link {
          color: var(--white);
          text-decoration: none;
        }
      }
    }
  }

  .table {
    width: 100%;
    .table-header {
      display: flex;
      text-align: center;

      .table-head-item {
        flex: 1;
      }
    }
    .table-body {
      .row-items {
        display: flex;
        .row-item {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          word-break: break-all;
          max-width: 130px;
        }
      }
    }
  }

}